*{
	margin: 0;
	padding: 0;
    flex-wrap: wrap;
    box-sizing: border-box;  
}
html{
	scroll-behavior: smooth;
}
.navbar{
	background-color: #000!important;
	box-shadow: 1px 2px 1px rgba(0,0,0,0.6);
    top: 0%;
   font-family: 'Open Sans', sans-serif;
   position: sticky;
   z-index: 10000;
}
.navbar-toggler-icon{
	background: #fff;
	border-color: #000;
}
.navbar-brand{
	color: #fff!important;
	font-weight: bold!important;
}
.navbar-nav a{
	font-weight: bold;
	color: #fff!important;
	padding: 10px 30px!important;
}
.navbar-nav a:hover{
	background-color: royalblue;
}
#aboutus{
	background:#000;
	color: #fff;
}
#aboutus h1{
	color:#fff;
    text-align: center;
}
#aboutus h1::after{
	content: '';
    display: block;
	height: 3px;
	background-color: orange;
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
#aboutus hr{
	background-color: #81ecec;
	height: 5px;
	width: 0%;

}


.carousel img{
	height: 100vh;
	width: 100%;
}
.carousel-caption {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
     transform: translate(-50%,-50%);
     font-size: 40px;
}
.carousel
.col-md-6{
	padding: 20px 30px;
}
.col-md-6 p{
	margin: 30px;
}
.col-md-6 a{
	margin-left: 30px;
	border-radius: 0px !important;
}
#services{
	background-color: #000;
	color: white;
	text-align: justify;
}
#services .fa-key{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}

#services .fa-gift{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}

#services .fa-user{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}
#services .fa-line-chart{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}
#services .fa-envelope{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}
#services .fa-list{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}

#services .fa-arrow-right
{
	position: absolute;
    bottom: -10px;
    right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(orange,purple);
    padding: 5px 10px ;
    font-size: 25px;
}
#services .col-md-4{
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}
#services span{
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}
#services h3{
	font-size: 25px;
}
#services h1{
	color:#fff;
    position: relative;
    text-align: center;
}
#services h1::after{
   content: 'r';
   height: 3px;
   color: transparent;
   display: block;
   background-color: #81ecec;
   margin: 20px 0px;
   width: 25%;
   margin-right: auto;
   margin-left: auto;
}
.clear{
	margin-left: 30px;
	margin-top: 50px;
	background-color: #000;
	align-items: center;
	padding: 10px 20px;
}
.clear p{
	color: #fff;
	margin-top: 30px;
	text-align: center;
}
.icon{
	height: 120px;
	width: 120px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	border: 3px solid #fff;
	margin: auto;
}
.icon .fa{
	margin-top:20px;
}
.clear:hover{
   background-color: blue;
}
#offers h1{
	color:#fff;
    text-align: center;
}
#offers h1::after{
   content: '';
   display: block;
   height: 3px;
   width: 25%;
   background-color: orange;
   margin-right: auto;
   margin-left: auto;
   margin-top: 20px;
}
.btn{
	border-radius: 0;
}
#offers h2{
	color: #fff;
	font-size: 40px;
	margin-top: 40px;
	text-align: center;
	margin-bottom: 30px;
}
.clear2{
	background:black;
	color: white;
}
#touch{
	background-color: black;
color: white;	
}
#touch h1{
	color:#fff;
   text-align: center;

}
#touch h1::after{
	content: '';
	height: 3px;
	width: 25%;
	color: transparent;
	background-color: orange;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
#touch h2{
	color:#fff; 
    font-size: 30px;
}
#touch a{
	text-decoration: none;
	display: block;
	color: white;
}
.facebook{
	padding:10px 40px;
	border: 3px solid  #2980b9;
	background-color: transparent;
	color:  #2980b9!important;
	text-align: center;
    box-shadow: inset 0 0 0 0 #3498db;
    transition: .8s;
}
.facebook:hover{
	box-shadow: inset 600px 0px 0px 0px #3498db;
	color: #fff!important;
}
.facebook .fa{
	margin: 5px;
}
.twitter{
	padding:10px 50px;
	background-color: transparent;
	text-align: center;
	border: 3px solid #3498db;
    box-shadow: inset 0 0 0 0 #3498db;
	transition: .8s;
	color: #3498db;
	margin-top: 30px;
}
.twitter:hover{
    box-shadow: inset  0px 100px 0 0px  #3498db;
}
.twitter .fa{
	margin: 5px;
}
.instagram .fa{
	margin: 5px;
}
.instagram{
	padding:10px 50px;
	background: transparent;
	border-top: 3px solid orange;
	border-left: 3px solid purple;
	border-bottom: 3px solid orange;
	border-right: 3px solid purple;
	color: white!important; 
	text-align: center;
	box-shadow: inset 0 0 0 0 orange;
	margin-top: 20px;
	transition: .8s !important;
}
.instagram:hover{
	box-shadow:inset  -600px 0 0 0 orange;
}
.touch{
	margin-top: 20px;
}
#footer{
	background-color: #000;
	color: white;
	margin-top: 50px;
	height: 50px;
}
#footer p{
  text-align: center;

}
#footer .fa-heart-o{
  color:red;

}
#testimonials{
	background-color: #fff;
}
#testimonials .profile{
	background-color: rgba(0,0,0,0.1);
	padding: 20px;
	margin-bottom: 80px;
	position: relative;
}
#testimonials img{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 3px solid white;
	position: absolute;
	top: -20%;
	left: 34%;

}
#testimonials h3{
  margin-top: 50px;
  color: orange;
}
#testimonials span{
	font-size: 20px;
	color: #555;
}
#testimonials .profile:hover{
	box-shadow: 0px 14px 15px rgba(0,0,0,0.7);
}
#testimonials h1{
	color: #555;
	padding-bottom: 100px;
	text-align: center;
	position: relative;
}
#testimonials h1::after{
	content: 'r';
	height: 3px;
	color: transparent;
	background-color: #81ecec;
	display: block;
	margin-top: 20px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	
}
.btn-pink{
	background-color:  #fd79a8;
	color: white;
	padding: 10px 20px;
}
.profile p::before{
   content: '\93';
   font-size: 30px;
   color: #007bff;
   font-weight: 600;
}
.profile p::after{
   content: '\94';
   font-size: 30px;
   color: #007bff;
   display: inline-block;
   font-weight: 600;
}
#ourteam .col-md-3{
	background-color: rgba(0,0,0,0.1);
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border: 3px solid #555;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	position: relative;
}
#ourteam .col-md-3:hover{
  box-shadow: 9px 2px 15px -6px #111;
}
#ourteam .col-md-3 img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 3px solid #fff;
	transform: scale(1);
	transition: .6s;
}

#ourteam .col-md-3 img:hover{
    animation: bc .4s linear; 
}
@keyframes bc{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
#ourteam .col-md-3 h3{
	color: #007bff;
    font-size: 30px;
    
}


#ourteam .col-md-3 h5{
	color: #555;
    font-size: 20px;   
}
#ourteam h1{
	color: #555;
	text-align: center;
	display: block;
}
#ourteam h1::after{
	content: 'r';
	color: transparent;
	background: #81ec;
    height: 5px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
} 
#pricingplans{
	position: relative;
}
#pricingplans .col-md-3{
	border: 1px solid gray;
  margin: 5px;

}
#pricingplans .row{
	margin-left: auto;
    margin-right: auto;
}
#pricingplans .heading{
	text-align: center;
	position: relative;
}

#pricingplans .heading::after{
	content: 'r';
	color: transparent;
	height: 3px;
	background-color: #81ecec;
	display: block;
	width: 25%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto; 
	margin-bottom: 40px;
}
.btn-purple{
	padding: 10px 30px;
    background: purple;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .1s;
}
.btn-purple:hover{
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
}


@media (max-width: 890px){
     .carousel-item img{
     	height: 30%;
     }
     .carousel-caption h2{
        font-size: 25px;
     }
}



