*{
	margin: 0;
	padding: 0;
    flex-wrap: wrap;
    box-sizing: border-box;  
}
html{
	 scroll-behavior: smooth; 
}
body{
	background-color: white;
}
#loading{
	background:#fff 
	url(loading.gif) 
	center no-repeat;
	height: 100vh;
	width: 100%;
	z-index: 999999999999999999999999999999999999999999999999;
	position: fixed;
}
#popupalert{
	height: 100%;
	width: 100%;
	background-color: rgba(16,16,16,.6);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 100000000000000000000000000001;
	color: black!important;
   display: none;
 }
.news{
	background: #fff url(technology.jpeg);
	height: 400px;
	width: 700px;
	background-size: 100% 100%;
	padding: 20px;
	position: relative;
	border-radius: 5%;
	margin-left: auto;
	margin-right: auto;
}
.news h2{
	margin-top: 5px;
	color: #000;
	text-align: center;
	font-size: 50px;
}
.news input:nth-child(1),
.news input:nth-child(2)
{
   margin-left: 80px;
   margin-top: 60px;
}
.news input:nth-child(3){
	width: 75%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
.navbar{
	background-color: #000!important;
	box-shadow: 1px 2px 1px rgba(0,0,0,0.6);
    top: 0;
   font-family: 'Open Sans', sans-serif;
   position: sticky;
   z-index: 10000;
}
.navbar-brand{
	color: #fff!important;
	font-weight: bold!important;
}
.navbar-nav a{
	font-weight: bold;
	color: #fff;
	padding: 10px 30px!important;
	text-align: center;
}
.slide{
	width: 100%;
}
#aboutus{
	background:#000!important;
	color: #fff;
}
#aboutus h1{
	color:#fff;
    text-align: center;
}
#aboutus h1::after{
	content: '';
    display: block;
	height: 3px;
	background-color: orange;
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
#aboutus hr{
	background-color: #81ecec;
	height: 5px;
	width: 0%;
}

.carousel img{
	height: 100vh;
	width: 100%;
}
.carousel-caption {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
     transform: translate(-50%,-50%);
     font-size: 40px;
 }


.col-md-6{
	padding: 20px 30px;
}
.progress-bar{
	animation: pro 1s linear forwards;
}
@keyframes pro{
	0%{
		width: 10%;
	}
	10%{
		width: 20%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
	90%{
		width: 90%;
	}
	100%{
		width: 100%;
	}

}
.col-md-6 p{
	margin: 30px;
}
.col-md-6 a{
	margin-left: 30px;
	border-radius: 0px !important;
}
#services{
	background-color: #000;
	color: white;
	text-align: justify;
}
#services .fa-key{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}

#services .fa-gift{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}

#services .fa-user{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}
#services .fa-line-chart{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}
#services .fa-envelope{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}
#services .fa-list{
	font-size: 40px;
	border-radius: 50%;
	border: 3px solid #555;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 5px;
	background:linear-gradient(orange,purple);
	-webkit-background-clip: text;
	color: transparent;
}

#services .fa-arrow-right
{
	position: absolute;
    bottom: -10px;
    right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(orange,purple);
    padding: 5px 10px ;
    font-size: 25px;
}
#services .col-md-4{
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}
#services span{
	background:linear-gradient(purple,orange);
	-webkit-background-clip: text;
	color: transparent;
}
#services h3{
	font-size: 25px;
}
#services h1{
	color:#fff;
    position: relative;
    text-align: center;
}
#services h1::after{
   content: 'r';
   height: 3px;
   color: transparent;
   display: block;
   background-color: #81ecec;
   margin: 20px 0px;
   width: 25%;
   margin-right: auto;
   margin-left: auto;
}
.clear{
	margin-left: 30px;
	margin-top: 50px;
	background-color: #000;
	align-items: center;
	padding: 10px 20px;
}
.clear p{
	color: #fff;
	margin-top: 30px;
	text-align: center;
}
.icon{
	height: 120px;
	width: 120px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	border: 3px solid #fff;
	margin: auto;
}
.icon .fa{
	margin-top:20px;
}
.clear:hover{
   background-color: blue;
}
.btn-green{
	background: lightgreen!important;
	color: white!important;
	padding: 14px 20px!important;
}
#offers h1{
	color:#fff;
    text-align: center;
}
#offers h1::after{
   content: '';
   display: block;
   height: 3px;
   width: 25%;
   background-color: orange;
   margin-right: auto;
   margin-left: auto;
   margin-top: 20px;
}
.btn{
	border-radius: 0;
}
#offers h2{
	color: #fff;
	font-size: 40px;
	margin-top: 40px;
	text-align: center;
	margin-bottom: 30px;
}
.clear2{
	background:black;
	color: white;
}
#touch{
	background-color: black;
color: white;	
}
#touch h1{
	color:#fff;
   text-align: center;

}
#touch h1::after{
	content: '';
	height: 3px;
	width: 25%;
	color: transparent;
	background-color: orange;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
#touch h2{
	color:#fff; 
    font-size: 30px;
}
#touch a{
	text-decoration: none;
	display: block;
	color: white;
}
.facebook{
	padding:10px 40px;
	border: 3px solid  #2980b9;
	background-color: transparent;
	color:  #2980b9!important;
	text-align: center;
    box-shadow: inset 0 0 0 0 #3498db;
    transition: .8s;
}
.facebook:hover{
	box-shadow: inset 600px 0px 0px 0px #3498db;
	color: #fff!important;
}
.facebook .fa{
	margin: 5px;
}
.twitter{
	padding:10px 50px;
	background-color: transparent;
	text-align: center;
	border: 3px solid green;
    box-shadow: inset 0 0 0 0 green;
	transition: .8s;
	color: #3498db;
	margin-top: 30px;
}
.twitter:hover{
    box-shadow: inset  0px 100px 0 0px  green;
}
.twitter .fa{
	margin: 5px;
}
.youtube .fa{
	margin: 5px;
}
.youtube{
	padding:10px 50px;
	background: transparent;
	border-top: 3px solid red;
	border-left: 3px solid red;
	border-bottom: 3px solid red;
	border-right: 3px solid red;
	color: white!important; 
	text-align: center;
	box-shadow: inset 0 0 0 0 red;
	margin-top: 20px;
	transition: .8s !important;
}
.youtube:hover{
	box-shadow:inset  -600px 0 0 0 red;
}
.touch{
	margin-top: 20px;
}
#footer{
	background-color: #000;
	color: white;
	margin-top: 50px;
	height: 50px;
}
#footer p{
  text-align: center;

}
#footer .fa-heart-o{
  color:red;

}
#testimonials{
	background-color: #fff;
}
#testimonials .profile{
	background-color: rgba(0,0,0,0.1);
	padding: 20px;
	margin-bottom: 80px;
	position: relative;
	text-align: justify;
}
#testimonials img{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 3px solid white;
	position: absolute;
	top: -20%;
	left: 34%;

}
#testimonials h3{
  margin-top: 50px;
  color: orange;
}
#testimonials span{
	font-size: 20px;
	color: #555;
}
#testimonials .profile:hover{
	box-shadow: 0px 14px 15px rgba(0,0,0,0.7);
	background: linear-gradient(red,blue);
	color: white!important;
	transition:background 1s ease-out;
}
#testimonials .profile:hover h3 span,
#testimonials .profile:hover .fa
{
	color: white;
}
#testimonials h1{
	color: #555;
	padding-bottom: 100px;
	text-align: center;
	position: relative;
}
.navbar-nav li.active{
	color:orange;
}
#testimonials h1::after{
	content: 'r';
	height: 3px;
	color: transparent;
	background-color: #81ecec;
	display: block;
	margin-top: 20px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	
}
.btn-pink{
	background-color:  #fd79a8;
	color: white;
	padding: 10px 20px;
}
.fa-quote-left,
.fa-quote-right{
	color: blue;
}
#ourteam .col-lg-3{
	background-color: rgba(0,0,0,0.1);
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border: 3px solid #555;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	position: relative;
}
#ourteam .col-lg-3:hover{
  box-shadow: 9px 2px 15px -6px #111;
}
#ourteam .col-lg-3 img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 3px solid #fff;
	transform: scale(1);
	transition: .6s;
}
#ourteam .col-lg-3 h3{
	color: #007bff;
    font-size: 30px;
    
}


#ourteam .col-lg-3 h5{
	color: #555;
    font-size: 20px;   
}
#ourteam h1{
	color: #555;
	text-align: center;
	display: block;
}
#ourteam h1::after{
	content: 'r';
	color: transparent;
	background: #81ec;
    height: 5px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
} 
#pricingplans{
	position: relative;
}
#pricingplans .col-md-3{
	border: 1px solid gray;
  margin: 5px;

}
#pricingplans .row{
	margin-left: auto;
    margin-right: auto;
}
#pricingplans .heading{
	text-align: center;
	position: relative;
}
.carousel-btn::after{
     content: 'Get Your Website Online Now';
     background: blue;
     color: white;
     padding: 1em 2em;
     font-size: 0.8em;
     border-radius: 30%;
     position: absolute;
     left: -10px;
     bottom: 175px;
     transform: scale(0);
}
.carousel-btn:hover::after{
   animation: expand .3s linear forwards;
}
@keyframes expand{
	0%{
		transform: scale(.5);
	}
	100%{
		transform: scale(1);
	}
}
#pricingplans .heading::after{
	content: 'r';
	color: transparent;
	height: 3px;
	background-color: #81ecec;
	display: block;
	width: 25%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto; 
	margin-bottom: 40px;
}
.btn-purple{
	padding: 10px 30px;
    background: purple;
    text-decoration: none;
    color: white!important;
    font-weight: bold;
    transition: .1s;
}
.btn-purple:hover{
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
}
.fa-bars,
.fa-times{
	color: white;
}
.dropdown-toggle{
	font-size: 18px;
	font-weight: bold;
}
.dropdown-menu{
	background: rgba(0,0,0,0.4);
}
.form{
	 background: #fff!important;
	 padding: 20px;
	 color:  black;
}
.form .form-control{
	 border: 2px solid #07D3B8   !important;
	 border-radius: 0px !important;
	 background: transparent;
	 color: black;
}
.form .form-control:focus{
	background: transparent;
	box-shadow: none;
}
.form .btn-neon{
	background: #07D3B8;
	color: #fff!importants;
}
 .carousel-indicators li{
 	border-radius: 100%;
 	height: 20px;
 	width: 20px;
    border: 5px solid white;
 	background: #262626;
 }
 .search{
 	position: relative;
 	padding: 10px;
 	display: flex;
 	align-items: center;
 	justify-content: center;
   padding-bottom: 50px;
 }
 .search .form-control::placeholder{
 	color: #fff;
 }

.search::before
{
	content: '';
	background: red;
	height: 3px;
	width: 100%;
	margin-bottom: 40px;
	border-right:3px solid red;
}
.search::after
{
	content: '';
	background: red;
	height: 3px;
	width: 100%;
	margin-top: 40px;
}
@media (max-width: 1030px){
	.nav1
	{
		opacity: 0;
	}
	.carousel-caption h3{
		font-size: 20px;
	}
}
@media (max-width: 890px){
     .carousel-item img{
     	height: 30%;
     	width: 100%;
     }
     .carousel{
     	width: 100%;
     }
     .nav1{
     	opacity: 1;
     }
     .carousel-caption h2{
        font-size: 20px;
        color: black;
     } 
     .type{
     	color: black;
     }
     li[data-target="#carouselExampleIndicators"]{
     	display: none;
     }
     .search{
     	padding-bottom: 25px;
     }
     .carousel-btn::after{
     	display: none;
     }
}


